extends layout

block content
    h1= title




    div(class='row')
      each item, index in items
        - var background = color("#"+colors[index % colors.length])
        - var border = color("#"+colors[index % colors.length]).darken(0.3);
        div(class='col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12')
            div(class='card')
              div(class="card-header text-xs-center" style="background-color: #{background}; border-color: #{border}; color: white;")=item.name
              div(class="card-block text-xs-center")
                i(class="fa hidden-sm-down #{item.icon} fa-4x text-xs-center" style="color: #{background};" aria-hidden="true")
                p(class='card-text card-description-text' )=item.description
                a(class="hidden-sm-down " href=item.link class='btn btn-primary active'  role='button')= "Go"







