extends layout

block content
    h1(class="site-center")= title
    each group in groups
        - var selectedPalette = colors[group.palette];

        table(class='table')
            th(class='text-xs-center')= group.name
            each item, index in group.items
                - var background = color("#"+selectedPalette[index % selectedPalette.length])
                - var border = color("#"+selectedPalette[index % selectedPalette.length]).darken(0.3);
                tr(style="background-color: #{background};" class='links-table-row' )
                    td(class='table-icon hidden-sm-down ')
                        a(href=item.link)
                            i(class="fa #{item.icon} fa-2x" aria-hidden="true")
                    td
                        strong
                            a(class="" href=item.link)=item.name
                    td
                        span(class='' )=item.description
